/*
* littlelink.io
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/*
* Built using on:
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Buttons
- Brand Styles

*/

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 20px;
  padding: 14px 12px 12px 12px;
  letter-spacing: 0.1px;
  white-space: wrap;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  
}     
button:hover,
.button:focus {
  color: #212121;
  border-color: #888;
  outline: #7AB8FF solid 3px
}
.button.button-primary {
  color: #fff;
  filter: brightness(90%);
}
.button.button-primary:hover,
.button.button-primary:focus {
  color: #fff;
  filter: brightness(90%);
}

/* Brand Icons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* Brand Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Matrix */
.button.button-matrix {
  color: #ffffff;
  background-color: #000000;
}
.button.button-matrix:hover,
.button.button-matrix:focus {
  filter: brightness(90%);
}

/* Pronouns.Page */
.button.button-pronouns {
  color: #FFF;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
);
animation: gradient-gay 50s linear infinite;
background-size: 500% 100%;
}

@keyframes gradient-gay {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -400% 50%;
  }
}

.button.button-pronouns:hover,
.button.button-pronouns:focus {
  filter: brightness(90%);
}

/* Bandcamp */
.button.button-bandcamp {
  color: #ffffff;
  background-color: #1d9fc3;
}
.button.button-bandcamp:hover,
.button.button-bandcamp:focus {
  filter: brightness(90%);
}

/* Discogs */
.button.button-discogs {
  color: #FFFFFF;
  background-color: #000000;
}
.button.button-discogs:hover,
.button.button-discogs:focus {
  filter: brightness(90%);
}

/* GitHub */
.button.button-github {
  color: #ffffff;
  background-color: #000000;
}
.button.button-github:hover,
.button.button-github:focus {
  filter: brightness(90%);
}

/* Last.fm */
.button.button-last-fm {
  color: #ffffff;
  background-color: #D51007;
}
.button.button-last-fm:hover,
.button.button-last-fm:focus {
  filter: brightness(90%);
}

/* Pinterest */
.button.button-pinterest {
  color: #000000;
  background-color: #ffe2eb;
  border: 1px solid #212121;
}
.button.button-pinterest:hover,
.button.button-pinterest:focus {
  filter: brightness(90%);
}

/* Steam */
.button.button-steam {
  color: #ffffff;
  background-image: linear-gradient(90deg, #09172a, #072a57, #0c5085);
}
.button.button-steam:hover,
.button.button-steam:focus {
  filter: brightness(90%);
}

/* VRChat */
.button.button-vrchat {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid black;
}
.button.button-vrchat:hover,
.button.button-vrchat:focus {
  filter: brightness(90%);
}
