#lastfmthumbnailimg {
    width: 20%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    min-width: 150px;
    max-width: 1000px;
    padding-top: 0.5em;
    padding-bottom: 0em;
  }
.tiny {
    font-size: 50%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.small {
    font-size: 75%;
    margin-block: 0em;
}
